<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catalogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Catalogo</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="background">
  

<ion-card>
  <ion-card-header class="camperas">
    <ion-card-title>Remeras</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.J0s_0JSwr8OkD4VuOzOmTwHaHW?pid=ImgDet&rs=1" />
        </ion-thumbnail>
        <ion-label>Remera Ramones   $4600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/245/487/products/muestra111-475f37302ad1161daa16074739052881-1024-1024.jpg" />
        </ion-thumbnail>
        <ion-label>Remera Guns n Roses   $4600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.myvjhAFncqp2nQM_M2FtXgHaHa?pid=ImgDet&rs=1" />
        </ion-thumbnail>
        <ion-label>Remera ACDC    $4600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/forgot-password']" lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.__FZ9JcGeuSRfGq85W0CKAHaHy?pid=ImgDet&rs=1" />
        </ion-thumbnail>
        <ion-label>Remera Metallica   $4600</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="remeras">
    <ion-card-title>Jeans</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://http2.mlstatic.com/D_NQ_NP_847350-MLA51691543422_092022-W.jpg" />
        </ion-thumbnail>
        <ion-label>Jean Negro  $10600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://http2.mlstatic.com/D_NQ_NP_691713-MLA51138953214_082022-W.jpg" />
        </ion-thumbnail>
        <ion-label>Jean Denim  $7600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/4a/75/c0/4a75c0546552478533ad981d2f5e1e68.jpg" />
        </ion-thumbnail>
        <ion-label>Jean Rock   $16600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/prenda']" lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ae01.alicdn.com/kf/H03f7e5881e174fcdae34f3b882191e4bb/Pantalones-vaqueros-bordados-para-hombre-jeans-ajustados-con-personalidad-europea-estilo-rock-hip-hop-retro-con.jpg_Q90.jpg_.webp" />
        </ion-thumbnail>
        <ion-label>Jean Desgastado   $13000</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="remeras">
    <ion-card-title>Camperas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://http2.mlstatic.com/campera-de-cuero-hombre-racer-slim-fit-by-francuir-D_NQ_NP_793997-MLA25891833928_082017-F.jpg" />
        </ion-thumbnail>
        <ion-label>Campera Mick   $14600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.VF8qLYaWzM4o5T0vINPJgQHaKf?pid=ImgDet&rs=1" />
        </ion-thumbnail>
        <ion-label>Campera Slash  $24600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/prenda']">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://resources.sears.com.mx/medios-plazavip/fotos/productos_sears1/original/2967339.jpg" />
        </ion-thumbnail>
        <ion-label>Campera Angus    $16600</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/prenda']" lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.SiwaIDrpadljzCB3VVgmkgHaIF?pid=ImgDet&rs=1" />
        </ion-thumbnail>
        <ion-label>Campera Kirk   $23000</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
  
</ion-content>
