ion-content.auth-form{
    --background: url(https://i.pinimg.com/736x/d2/7d/65/d27d65e5fec879eda30a775400dd7d4d.jpg) 0 0/100% 100% no-repeat;
}
span {
    color: black;
    background-color: white;
    text-align: center;
}

ion-title {
    
    color: rgb(12, 11, 11);
    text-align: center;
}
ion-header {
    
    color: black;
}